__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info/
dist/
build/
data/
*.db
*.sqlite
*.sqlite3
chromedriver/
geckodriver/
*.exe
baileys-auth/
bailey-auth/
baileys-auth/
.env
.env.local
